body {
    background-color: #555555;
}

#one {
    background-color: #66FF5A;
}

#two {
    background-color: #FFFD5F;
}

#three {
    background-color: #FF826A;
}

#four {
    background-color: #FF5CF3;
}

#five {
    background-color: #576BEB;
}

#six {
    background-color: #6EFFD5;
}
